/* Plants Page */
.plants-inventory-cntnr {
    width: 100%;
}
.plants-title-cntnr {
    position: relative;
    text-align: center;
    width: 100%;
    padding: 5px 25px 25px 25px;
}
.plants-search-header {
    display: block;
    font-family: 'Questrial', sans-serif;
    letter-spacing: 3px;
    color: darkslategray;
    margin-bottom: 25px;
}
.plants-search-text {
    display: block;
    text-align: left;
    font-family: 'Questrial', sans-serif;
    color: #568f8f;
    font-size: 17px;
}

/* Delete Pop-Up Div */
.delete-popup-outer {
    visibility: hidden;
    position:fixed;
    padding:0;
    margin:0;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background:rgba(255,255,255,0.75);
    z-index: 6;
}
.delete-popup-inner {
    z-index: 9;
    height: 30vh;
    width: 30vw;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    background-color: #437070;
    border: 2px solid darkslategray;
    transform: translate(-50%, -50%);
}
.delete-close-span {
    margin: -22px -22px 0px 0px;
    text-align: center;
    padding-top: 8px;
    float: right;
    height: 45px;
    width: 47px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: darkslategray;
    background-color: #afcfcf;
    border-radius: 25px;
    border: 2px solid darkslategray;
    cursor: pointer;
}
.popup-close-span:hover {
    background-color: #cccccc;
    color: #666666;
}
.delete-popup-wrapper {
    position: absolute;
    height: 70%;
    width: 90%;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    padding: 1vh 0;
    text-align: center;
    /*border: 1px solid whitesmoke;*/
}
.delete-popup-list {
    list-style-type: none;
    padding: 0px;
}
.delete-popup-item h2 {
    margin-bottom: 10px;
    font-family: 'Questrial', sans-serif;
    font-size: 42px;
    font-weight: 400;
    color: whitesmoke;
}
.delete-popup-item p {
    font-family: 'Open Sans', sans-serif;
    font-size: 32px;
    font-weight: 400;
    font-style: italic;
    color: #9fc6c6;
}
.delete-popup-item:last-of-type {
    margin-top: 7.5vh;
}
.delete-popup-form {
    display: inline-block;
}
.delete-submit {
    display: inline-block;
    margin-right: 25px;
    height: 45px;
    width: 165px;
    outline: none;
    border: none;
    background-color: #afcfcf;
    border-radius: 8px;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: darkslategray;
    cursor: pointer;
    border: 2px solid darkslategray;
}
.delete-submit:hover {
    background-color: #cccccc;
    color: #595959;
}
.delete-cancel-btn {
    display: inline-block;
    margin-left: 25px;
    height: 45px;
    width: 165px;
    outline: none;
    border: none;
    background-color: #afcfcf;
    border-radius: 8px;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: darkslategray;
    border: 2px solid darkslategray;
}
.delete-cancel-btn:hover {
    background-color: #cccccc;
    color: #595959;
}

/* Menu: Search Form & Insert Button */
.plants-menu-cntnr {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 10px;
    width: 100%;
    height: 6vh;
    background-color: #cfe2e2;
    border-radius: 10px;
}

/* Search Form & Button */
.plants-search-cntnr {
    position: relative;
}
.plants-search-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
.plants-search-input {
    margin: none;
    outline: none;
    border: none;
    text-indent: 5px;
    padding: 6px;
    height: 36px;
    width: 250px;
    font-size: 17px;
    color: darkslategray;
}
.plants-search-input::placeholder {
    color: #609f9f;
}
.plants-search-btn {
    margin-left: -5px;
    height: 36px;
    width: 36px;
    background: #ddd;
    font-size: 16px;
    color: darkslategray;
    border: none;
    cursor: pointer;
}
.plants-search-btn:hover {
    background-color: whitesmoke;
}

/* Feedback Messages & GET Statuses */
.plants-message-cntnr {
    position: relative;
    height: 100%;
    width: 100%;
    /*border: 1px solid gold;*/
}
.plants-message-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
.plants-message-success {
    padding: 6px 12px;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: darkgreen;
    background-color: #b3e6cc;
    border: 1px solid darkgreen;
    border-radius: 10px;
}
.plants-message-error {
    padding: 6px 12px;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: darkred;
    background-color: #ffe6e6;
    border: 1px solid darkred;
    border-radius: 10px;
}

/* Insert Button */
.plants-insert-cntnr {
    position: relative;
}
.plants-insert-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
.plants-insert-btn {
    cursor: pointer;
    outline: none;
    border: none;
    border: 1px solid darkslategray;
    border-radius: 8px;
    padding: 5px 10px 5px 10px;
    background-color: #ddd;
    font-size: 22px;
    color: darkslategray;
}
.plants-insert-btn:hover {
    background-color: whitesmoke;
}

/* Insert Pop-up Div */
.insert-div-outer {
    /*visibility: hidden;*/
    position:fixed;
    padding:0;
    margin:0;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background:rgba(255,255,255,0.75);
    z-index: 3;
}
.insert-div-inner {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    height: 80vh;
    width: 70vw;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

/* Insert Div: Left Container */
.insert-cntnr-left {
    position: relative;
    font-family: 'Questrial', sans-serif;
    background-color: darkslategray;
}
.insert-cntnr-left h2 {
    font-weight: 400;
    font-size: 34px;
    text-align: center;
    margin-top: 12vh;
    color: #9fc6c6;
}
.insert-cancel-btn {
    position: absolute;
    bottom: 0;
    margin-bottom: 5vh;
    margin-left: 3.5vw;
    width: 275px;
    height: 45px;
    outline: none;
    background: none;
    border: none;
    border: 2px solid #9fc6c6;
    font-size: 26px;
    color: #9fc6c6;
    background-color: transparent;
    float: bottom;
    cursor: pointer;
}
.insert-cancel-btn:hover {
    color: #bfd9d9;
    border: 2px solid #bfd9d9;
    background-color: #609f9f;
}

/* Insert Div: Right Container */
.insert-cntnr-right {
    position: relative;
    background-color: #4d8080;
    font-family: 'Questrial', sans-serif;
}
.insert-cntnr-close {
    margin: 10px 10px 0px 0px;
    position: absolute;
    top: 0;
    right: 0;
    height: 35px;
    width: 35px;
    padding: 8px 10px 10px 11px;
    border: 1px solid whitesmoke;
    border-radius: 25px;
    font-size: 18px;
    color: whitesmoke;
    cursor: pointer;
}
.insert-cntnr-close:hover {
    background-color: #609f9f;
}
.insert-form-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    display: inline-block;
}
.insert-list {
    padding: 0;
    list-style-type: none;
}
.insert-list li {
    margin: 20px auto;
    font-family: 'Questrial', sans-serif;
    color: #bfd9d9;
}
.insert-label {
    display: block;
    font-size: 18px;
    margin-bottom: 5px;
    margin-left: 12px;
}
.insert-form-input {
    outline: none;
    border: none;
    border: 2px solid #bfd9d9;
    border-radius: 5px;
    background: transparent;
    height: 38px;
    width: 400px;
    font-size: 18px;
    color: #bfd9d9;
    text-indent: 8px;
}
.insert-form-input:hover {
    background-color: #609f9f;
}
.insert-form-input:focus {
    background-color: #609f9f;
}
.insert-form-submit {
    margin-top: 5.75vh;
    margin-left: 3.6vw;
    width: 275px;
    height: 45px;
    outline: none;
    background: none;
    border: none;
    font-size: 26px;
    color: #bfd9d9;
    background-color: darkslategray;
    cursor: pointer;
}
.insert-form-submit:hover {
    background-color: #396060;
}

/* Search Results Table */
.plants-link {
    text-decoration: none;
    color: darkslategray;
}
.plants-link:hover {
    color: #81b1b1;
}
.text-cell {
    display: table-cell;
    text-align: center;
}
.plants-button {
    text-decoration: none;
    cursor: pointer;
    font-family: 'Questrial', sans-serif;
    font-weight: 600;
    font-size: 22px;
}
.plants-button i {
    color: #568f8f;
}
.plants-button i:hover {
    color: #90bbbb;
}
#delete-icon {
    cursor: pointer;
    font-size: 22px;
    color: #568f8f;
}
#delete-icon:hover {
    color: #90bbbb;
}
.plants-table-cntnr {
    width: 100%;
    height: 68vh;
}
.plants-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 9px;
}
.plants-table-header th {
    text-align: left;
    padding: 12px 12px 9px 12px;
    font-family: 'Questrial', sans-serif;
    font-size: 17px;
    font-weight: 600;
    color: darkslategray;
}
.plants-table-row {
    background-color: white;
    margin: 5px 0px;
    border-radius: 5px;
}
.plants-table-row:hover {
    background-color: #eff3f5;
}
.plants-table-row td {
    padding: 8px;
    font-family: 'Questrial', sans-serif;
    font-size: 16px;
    color: darkslategray;
}
.plants-table-row td:first-child { 
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.plants-table-row td:last-child { 
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}